<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Metricas Mundiales COVID-19</title>
	<meta charset="UTF-8">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,600;1,200&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
	<link th:href="@{/css/Styles.css}" rel="stylesheet">
</head>
<body style="background-color: black;">
	<div th:style="'background:url(' + @{/images/HomeBackground.png} + ');height:100vh; background-size: contain;background-position: center;background-repeat: no-repeat;'">
		<div class="container">
			<header class="row">
				<div class="col-12 d-flex justify-content-between align-items-center p-0">
					<h1 class="titulo pt-4">COVID-19 CORONAVIRUS - METRICAS PANDEMIA</h1>
					<a th:href="@{~/logout}" class="badge rounded-pill bg-primary text-dark p-2" style="text-decoration: none;">Cerrar sesion</a>
				</div>
			</header>
			<div class="row mt-4">
				<div class="col-2 p-0">
					<a th:href="@{~/}" class="btn backButton btn-sm">ir al Home</a>
				</div>
				<div class="col-10">
				</div>
			</div>
			<section class="row mt-1 p-3 topMetricsSection shadow rounded" style="width: 100%;">
				<div class="row mb-5">
					<div class="col-12">
						<button id="create-button" onclick="hide('create')" class="btn abmButton shadow">Agregar</button>
						<button id="update-button" onclick="hide('update')" class="btn abmButton shadow">Actualizar</button>
						<button id="delete-button" onclick="hide('delete')" class="btn abmButton shadow">Eliminar</button>
					</div>
				</div>
				<form action="#" th:action="@{/country/new}" th:object="${addCountryDTO}" method="POST" enctype="multipart/form-data" id="form-create">
					<div class="row d-flex justify-content-center align-items-center">
						<div class="col-4">
							 <div class="mb-3">
							 	<label for="continentId" class="form-label m-0">Continente</label>
							 	<select class="form-select" th:field="*{continentId}" style="text-transform: capitalize;">
							 		<option th:each="continent : ${continents}" th:value="${continent.id}" th:text="${continent.name}"></option>
							 	</select>
							 </div>
							 <div class="mb-3">
							 	<label for="countryName" class="form-label m-0">Pais</label>
							 	<input type="text" th:field="*{countryName}" class="form-control" placeholder="country" style="text-transform: capitalize;" required/>
							 </div>
							 <div class="mb-3">
							 	<label for="population" class="form-label m-0">Poblacion</label>
							 	<input type="number" th:field="*{population}" class="form-control" placeholder="population" required/>
							 </div>
							 <div class="mb-3">
							 	<label for="imageFile" class="form-label m-0">Bandera</label>
							 	<input type="file" name="imageFile" class="form-control" placeholder="flag img" />
							 </div>
						</div>
						<div class="col-4">
							<div class="row">
								<div class="col-12">
									 <div class="mb-3">
									 	<label for="cases" class="form-label m-0">Casos</label>
									 	<input type="number" th:field="*{cases}" class="form-control" placeholder="cases" required/>
									 </div>
									 <div class="mb-3">
									 	<label for="recovered" class="form-label m-0">Recuperados</label>
									 	<input type="number" th:field="*{recovered}" class="form-control" placeholder="recovered" required/>
									 </div>
									 <div class="mb-3">
									 	<label for="deaths" class="form-label m-0">Muertos</label>
									 	<input type="number" th:field="*{deaths}" class="form-control" placeholder="deaths" required/>
									 </div>
								</div>
							</div>
						</div>
					</div>
					<div class="row mt-4 d-flex justify-content-center">
						<div class="col-4 text-center">
							<button type="submit" class="btn btn-success mb-2">Agregar</button>
						</div>
						<span th:if="${create_message != null}" th:text="${create_message}" th:class="${#strings.contains(create_message,'Error') ? 'text-danger text-center' : 'text-success text-center'}"></span>
					</div>
				</form>
				<form action="#" th:action="@{/country/update}" th:object="${updateCountryDTO}" method="POST" enctype="multipart/form-data" id="form-update">
					<div class="row d-flex justify-content-center align-items-center">
						<div class="col-4">
							 <div class="mb-3">
							 	<label for="continentId" class="form-label m-0">Continente</label>
							 	<select class="form-select" th:field="*{continentId}" style="text-transform: capitalize;">
							 		<option th:each="continent : ${continents}" th:value="${continent.id}" th:text="${continent.name}"></option>
							 	</select>
							 </div>
							 <div class="mb-3">
							 	<label for="countryName" class="form-label m-0">Pais</label>
							 	<select class="form-select" th:field="*{countryId}" style="text-transform: capitalize;">
							 		<option th:each="country : ${countries}" th:value="${country.id}" th:text="${country.name}"></option>
							 	</select>
							 </div>
							 <div class="mb-3">
							 	<label for="population" class="form-label m-0">Poblacion</label>
							 	<input type="number" th:field="*{population}" class="form-control" placeholder="population" required/>
							 </div>
							 <div class="mb-3">
							 	<label for="imageFile" class="form-label m-0">Bandera</label>
							 	<input type="file" name="imageFile" class="form-control" placeholder="flag img" />
							 </div>
						</div>
						<div class="col-4">
							<div class="row">
								<div class="col-12">
									 <div class="mb-3">
									 	<label for="cases" class="form-label m-0">Casos</label>
									 	<input type="number" th:field="*{cases}" class="form-control" placeholder="cases" required/>
									 </div>
									 <div class="mb-3">
									 	<label for="recovered" class="form-label m-0">Recuperados</label>
									 	<input type="number" th:field="*{recovered}" class="form-control" placeholder="recovered" required/>
									 </div>
									 <div class="mb-3">
									 	<label for="deaths" class="form-label m-0">Muertos</label>
									 	<input type="number" th:field="*{deaths}"class="form-control" placeholder="deaths" required/>
									 </div>
								</div>
							</div>
						</div>
					</div>
					<div class="row mt-4 d-flex justify-content-center">
						<div class="col-4 text-center">
							<button type="submit" class="btn btn-success mb-2">Actualizar</button>
						</div>
						<span th:if="${update_message != null}" th:text="${update_message}" th:class="${#strings.contains(update_message,'Error') ? 'text-danger text-center' : 'text-success text-center'}"></span>
					</div>
				</form>
				<form action="#" th:action="@{/country/delete}" th:object="${deleteCountryDTO}" method="POST" id="form-delete">
					<div class="row d-flex justify-content-center align-items-center">
						<div class="col-4 d-flex justify-content-center">
							<div style="width:100%;">
								<label for="countryName" class="form-label m-0">Pais</label>
							 	<select class="form-select" th:field="*{countryId}" style="text-transform: capitalize;">
							 		<option th:each="country : ${countries}" th:text="${country.name}" th:value="${country.id}"></option>
							 	</select>
						 	</div>
						</div>
					</div>
					<div class="row mt-4 d-flex justify-content-center">
						<div class="col-4 text-center">
							<button type="submit" class="btn btn-danger mb-2">Eliminar</button>
						</div>
						<span th:if="${delete_message != null}" th:text="${delete_message}" th:class="${#strings.contains(delete_message,'Error') ? 'text-danger text-center' : 'text-success text-center'}"></span>
					</div>
				</form>
			</section>
			<footer class="row mt-3 mb-3">
				<div class="col-12 d-flex flex-row justify-content-center">
					<h1 class="footer-text">Informacion mundial de la pandemia causada por Covid-19</h1>
					<i class="fas fa-globe ms-3" style="color: white; font-size: 15px;"></i>
				</div>
			</footer>
		</div>
	</div>
	
	<script th:inline="javascript">
	/*<![CDATA[*/
		
		let countries = /*[[${countries}]]*/ null;
		
		$(document).ready(() => {
			$('#form-create').show();
			$('#form-update').hide();
			$('#form-delete').hide();
			$('#create-button').addClass('activeButton');
			let id = $('#form-update #countryId').val();
			changeValues(id);
		});
		
		const hide = (button) => {
			if(button == 'create'){
				$('#form-create').show();
				$('#form-update').hide();
				$('#form-delete').hide();
				$('#create-button').addClass('activeButton');
				$('#update-button').removeClass('activeButton');
				$('#delete-button').removeClass('activeButton');
			}else if(button == 'update'){
				$('#form-create').hide();
				$('#form-update').show();
				$('#form-delete').hide();
				$('#create-button').removeClass('activeButton');
				$('#update-button').addClass('activeButton');
				$('#delete-button').removeClass('activeButton');
			}else if(button == 'delete'){
				$('#form-create').hide();
				$('#form-update').hide();
				$('#form-delete').show();
				$('#create-button').removeClass('activeButton');
				$('#update-button').removeClass('activeButton');
				$('#delete-button').addClass('activeButton');
			}
		}
		
	    
	    $('#form-update #countryId').change(function(){
			let id = $(this).val();
			changeValues(id);
			
		});
	    
	    const changeValues = (id) => {
			let value = countries.find(x=>x.id==id);
			
			$('#form-update #continentId').val(value.continentId);
			$('#form-update #population').val(value.population);
			$('#form-update #population').prop('min',value.population);
			$('#form-update #cases').val(value.pandemicData.cases);
			$('#form-update #cases').prop('min',value.pandemicData.cases);
			$('#form-update #recovered').val(value.pandemicData.recovered);
			$('#form-update #recovered').prop('min',value.pandemicData.recovered);
			$('#form-update #deaths').val(value.pandemicData.deaths);
			$('#form-update #deaths').prop('min',value.pandemicData.deaths);
		
		}
	    
		
	/*]]>*/
	</script>
</body>
</html>